header{
    width: 100%;
    padding: 28 8%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.904);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.nav_item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav_item.active a {
    color: black;
    border-bottom: 2px solid #78a48e;
}

#mobile_btn {
    display: none;
}

#mobile-menu {
    display: none;
}

#waves {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
}

#waves img {
    width: 100%;
    margin-bottom: 0;
}

