header{
    width: 100%;
    padding: 28 8%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.953);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar img {
    height: 70px;
    margin-top: 10px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 100px;
}

.nav_item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav_item.active a {
    color: black;
    border-bottom: 2px solid #78a48e;
}

#mobile_btn {
    display: none;
}

#mobile-menu {
    display: none;
}

#waves {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
}

#waves img {
    height: 85px;
    width: 100%;
    margin-top: 0;
}

@media screen and (max-width: 1170px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        margin-left: 20px;
        background-color: transparent;
        font-size: 1.6rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 15px 0px;

    }

    #mobile_nav_list .nav_item {
        list-style: none;
        text-align: center;
        font-size: 1.3rem;
    }
}