* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}        

html {
    scroll-behavior: smooth;
}

body {
    background-color:  #e6fcd9;   
}

section {
    padding: 28 8%;
    scroll-margin-top: 120px;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(98, 207, 109);
    font-size: 1.25rem;
    border-radius: 15px 3px 15px 3px;
    text-decoration: none;
    color: #1d1d1dd2;
    box-shadow: 0px 0px 12px 4px rgb(0,0,0,0.1);
    transition: box-shadow .3s ease, transform .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 4px rgb(0,0,0,0.3);
    transform: scale(1.1);
}

.section-title {
    color: #1d1d1ddb;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 1rem;
    padding-bottom: 1.0rem;
}

.section-subtitle {
    color: #4b7943f4;
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

summary {
    color: #1d1d1dcc;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

summary:hover {
    box-shadow: 0px 0px 12px 4px rgb(0,0,0,0.3);
}

